.wrapper__brand {
    // background-color: #faf8f5;
    margin-top: 70px;
    padding: 70px 70px 50px;
}

.brand {
    margin-top: 70px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 60px;
    }
    &__item {
        width: calc(100% / 6 - 30px);
        transition: transform 0.25s ease-in-out;
        &:hover {
            transform: scale(0.85);
        }
    }
}
