.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
    }
    &__desc {
    }
    &__subscriber,
    &__care {
        width: 50%;
        // padding: 70px 30px 70px 65px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 300px;
        padding: 60px;
    }
    &__subscriber {
        background-color: #f6f8fb;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__care {
        background-color: #edf1f4;
    }
    &__image {
        &-admin {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 100rem;
        }
    }
}
