.detail {
    padding-top: 50px;
    margin-top: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    &__thumb {
        width: 65%;
    }
    &__info {
        width: 35%;
        border: 1.5px dotted #cfd3da;
        border-radius: 3px;
        padding: 25px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        &-title {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 20px;
            font-size: 18px;
            font-weight: 500;
            color: $green-color;
        }
        &-desc {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 8px;
            font-weight: 300;
            line-height: 26px;
            p {
                display: flex;
                align-items: flex-start;
                gap: 8px;
            }
        }
        &-icon {
            margin-top: 5px;
            color: $green-color;
            flex-shrink: 0;
        }
    }
    &__name {
        font-size: 22px;
        font-weight: 600;
        line-height: 34px;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 10px;
        &::after {
            content: "";
            width: 200px;
            height: 1px;
            background-color: #cfd3da;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 100rem;
        }
    }
    &__day {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 3px;
        span {
            font-size: 17px;
            font-weight: 500;
        }
    }
    &__price,
    &__vehicle {
        padding-bottom: 3px;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            font-size: 17px;
            font-weight: 500;
        }
    }
}

.thumb {
    &__main {
        width: 100%;
        height: 500px;
        object-fit: cover;
        padding-bottom: 7px;
    }
    &__small {
        width: 100%;
        height: 135px;
        box-sizing: border-box;
        object-fit: cover;
    }
}

.tabs {
    display: flex;
    position: relative;
    display: flex;
    gap: 15px;
}
.tabs .linee {
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // width: 0;
    // height: 6px;
    // border-radius: 15px;
    // background-color: #c23564;
    // transition: all 0.2s ease;
}
.tab-item {
    line-height: 16px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: transparent;
    color: $black-color;
    border: 1px dotted #ccc;
    padding: 14px 10px;
    width: 140px;
    height: 46px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.tab__container {
    background-color: #f7f8fb;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.tab-item:hover {
    color: $white-color;
    background-color: $green-secondary;
}
.tab-item.active {
    color: $white-color;
    background-color: $green-secondary;
}
.tab-content {
    background-color: #f7f8fb;
    border-radius: 8px;
}
.tab__title {
    font-size: 22px;
    padding-bottom: 20px;
}
.tab__desc {
    display: flex;
    flex-direction: column;
    line-height: 28px;
    gap: 8px;
    list-style-type: disc;
}
.tab-pane {
    color: #333;
    display: none;
}
.tab-pane.active {
    display: block;
}
.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

@media screen and (max-width: 767.98px) {
    .detail {
        margin-top: 0px;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        &__thumb {
            width: 100%;
        }
        &__info {
            width: 100%;
        }
    }
    .thumb__main {
        height: 260px;
    }
    .thumb__small {
        height: 65px;
    }
}
