@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1;
    color: $black-color;
    background-color: $white-color;
}
.wrapper {
    // max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: $white-color;
    background-color: $green-color;
    border: none;
    outline: none;
    line-height: 16px;
    cursor: pointer;
    padding: 16px 27px;
    font-family: $font-primary;
    transition: all 0.25s ease-in-out;
    border-radius: 2px;

    &:hover {
        opacity: 0.8;
    }
    &-primary {
        margin: 0 auto;
        margin-bottom: 70px;
    }
}

.line {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 140px;
        height: 1.5px;
        background-color: $green-color;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
    }
}
