header {
    position: absolute;
    width: 100%;
    min-height: 100px;
    background-color: $white-color;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
}

header ul {
    position: relative;
}

header ul li {
    position: relative;
    list-style: none;
    float: left;
}

header ul li a {
    color: $green-secondary;
    font-weight: 500;
    font-size: 16px;
    padding: 13px 18px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    line-height: 20px;

    &:hover {
        color: $green-color;
    }
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 220px;
    z-index: 100;
    background: $white-color;
    display: none;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

header ul li:hover > ul {
    display: block;
}

header ul li ul li {
    position: relative;
    width: 100%;
    border-top: 1px solid #ddd;
}
header ul li ul li ul {
    top: 0;
    left: 220px;
}

@media screen and (max-width: 767.98px) {
    header {
        padding: 10px 20px;
        min-height: 50px;
    }

    header .logo {
        width: 60px;
        height: 60px;
    }
    header nav {
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        background: $white-color;
        display: none;
        z-index: 100;
        transition: all 0.25s ease;
        border-top: 1.5px solid #ddd;
        border-bottom: 1.5px solid #ccc;
    }
    header.active nav {
        display: initial;
    }
    header nav ul li {
        width: 100%;
        padding: 3px;
    }
    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }
    header ul li ul li ul {
        top: 0;
        left: 0;
    }
    header nav ul li:hover ul li {
        background-color: #ccc;
    }
    .menuToggle {
        position: relative;
        width: 30px;
        height: 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: $green-secondary;
        transform: translateY(-10px);
        box-shadow: 0 10px $green-secondary;
    }
    .menuToggle::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: $green-secondary;
        transform: translateY(10px);
    }
    header.active .menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 $green-secondary;
    }
    header.active .menuToggle::after {
        transform: rotate(315deg);
    }
}

.header__icon {
    width: 20px;
    // margin-left: 12px;
    margin-right: 7px;
}

.sticky-header {
    position: sticky;
    top: 0;
    animation: stickyHeader 0.3s ease forwards;
    z-index: 100;
}

@keyframes stickyHeader {
    0% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(0px);
    }
}

.btn-call {
    background: #0a7cff;
    border: 2px solid #0a7cff;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    cursor: pointer;
    height: 60px;
    width: 60px;
    text-align: center;
    position: fixed;
    right: 24px;
    bottom: 100px;
    z-index: 5;
    transition: 0.5s;
    -webkit-animation: hoverWave linear 1.5s infinite;
    animation: hoverWave linear 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-call__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
    color: white;
    font-size: 26px;
    // padding-top: 5px;
    transition: 0.5s all;
}

@-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    }

    40% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    }

    80% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 15px rgba(56, 163, 253, 0),
            0 0 0 15px rgba(56, 163, 253, 0.067);
    }

    100% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 15px rgba(56, 163, 253, 0), 0 0 0 20px rgba(56, 163, 253, 0);
    }
}

@keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    }

    40% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    }

    80% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 30px rgba(56, 163, 253, 0),
            0 0 0 26.7px rgba(56, 163, 253, 0.067);
    }

    100% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
            0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
    }
}
