.introduce {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    &__image {
        min-width: 40%;
        max-width: 40%;
        min-height: 100%;
        height: 600px;
        object-fit: cover;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        justify-content: flex-start;
        position: relative;
        &-desc {
            font-size: 18px;
            line-height: 30px;
            &-yellow {
                color: $green-color;
                padding-bottom: 20px;
                padding-top: 10px;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 1px;
                    background-color: $green-color;
                    bottom: 5px;
                    left: 0;
                }
            }
        }
        &-title {
            font-size: 38px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;
        line-height: 30px;
        &-top {
            margin-top: 20px;
            font-weight: 400;
            margin-left: 20px;
            font-size: 17px;
            &::after {
                content: "";
                position: absolute;
                height: 60px;
                width: 7px;
                background-color: $green-color;
                left: 0;
                transform: translateY(-50%);
                border-radius: 4px 0 0 4px;
            }
        }
        &-main {
            font-weight: 300;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .introduce {
        margin-top: 50px;
        flex-direction: column;
        &__image {
            min-width: 100%;
            max-width: 100%;
            height: 400px;
        }
        &__info {
            min-width: 100%;
            max-width: 100%;
            width: 100%;
        }
        &__header {
            width: 100%;
            display: flex;
            align-items: center;
            &-desc {
                font-size: 14px;
                text-align: center;
            }
            &-desc {
                font-size: 16px;
                line-height: 30px;
                &-yellow {
                    color: $green-color;
                    padding-bottom: 20px;
                    padding-top: 10px;
                    &::after {
                        display: none;
                    }
                }
            }
            &-title {
                font-size: 23px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            position: relative;
            line-height: 30px;
            &-top {
                font-size: 16px;
                &::after {
                    content: "";
                    position: absolute;
                    height: 110px;
                    width: 7px;
                    background-color: $green-color;
                    left: 0;
                    top: 80px;
                }
            }
            &-main {
                font-weight: 300;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 15px;
            }
        }
    }
}
