.news {
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__item {
        width: calc(100% / 3 - 30px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #fbfafa;
        border-radius: 6px;
        transition: all 0.3s ease;
        &:hover {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
    &__image {
        width: 100%;
        border-radius: 6px;
        object-fit: cover;
        height: 240px;
    }
    &__info {
        padding: 16px;
    }
    &__name {
        font-weight: 700;
        line-height: 2;
        font-size: 17px;
        padding-bottom: 10px;
        color: $black-color;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    &__desc {
        line-height: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        color: $black-color;
        font-weight: 300;
    }
}

.detailnews {
    margin-bottom: 50px;
    padding: 0 100px;
}
.detailnews__title {
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    line-height: 50px;
    color: $green-color;
}
.detailnews__desc {
    line-height: 33px;
    padding-top: 30px;
}
.detailnews__bottom {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 2px dotted $black-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    &-title {
        font-weight: bold;
        font-size: 20px;
    }
    &-phone,
    &-email,
    &-address,
    &-fb {
        display: flex;
        gap: 7px;
        align-items: center;
        line-height: 26px;
        a {
            color: $black-color;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .news {
        &__item {
            width: calc(100%);
        }
    }
    .detailnews {
        padding: 0 20px;
    }
}
