.teambuilding {
    &__banner {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-top: 70px;
    }
    &__desc {
        text-align: left;
        max-width: 1100px;
        font-weight: 300;
        display: block;
        margin: 0 auto;
        line-height: 26px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        // font-weight: 500;
        p {
            span {
                font-weight: 500;
            }
        }
    }
    &__feature {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 500px;
        &-image {
            height: 400px;
            width: 550px;
            object-fit: cover;
            flex-shrink: 0;
        }
        &-list {
            height: 400px;
            display: flex;
            align-items: center;
            background-color: $green-secondary;
            color: $white-color;
            gap: 30px;
            padding: 20px;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            align-self: center;
        }
        &-title {
            font-size: 20px;
            line-height: 24px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 80px;
                bottom: -8px;
                border-radius: 10px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $white-color;
            }
        }
        &-desc {
            font-weight: 300;
            line-height: 24px;
            margin-top: 30px;
        }
    }
    &__game {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 50px;
        gap: 30px;
        &-image {
            width: calc(100% / 3 - 20px);
            height: 255px;
            object-fit: cover;
        }
    }
    &__steps {
        &-item {
            background-color: #fafafa;
            border-radius: 8px;
        }
        &-title {
        }
    }
    &__desc {
        padding-bottom: 0px;
    }
    &__advise {
        padding-bottom: 70px;
    }
    &__title2 {
        padding-top: 30px;
    }
    &__desc2 {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 767.98px) {
    .teambuilding {
        &__banner {
            margin-top: 35px;
            height: 260px;
        }
    }
    .visa__banner {
        margin-top: 35px;
        margin-top: 35px;
        height: 260px;
    }
    .visa__title {
        font-size: 23px;
        padding: 20px;
        line-height: 36px;
    }
    .visa__item {
        flex-direction: column;
        width: 100%;
        &-title {
            margin-bottom: 20px;
            padding-bottom: 10px;
            font-size: 20px;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
    .visa__image,
    .visa__info {
        width: 100%;
        padding: 0;
    }
    .studentexperience__title {
        margin-top: 10px;
    }
    .visa__button {
        margin-top: 10px;
        display: block;
        margin: 0 auto;
    }
    .visa__button-advise {
        display: block;
        margin: 0 auto;
    }
    .teambuilding__advise {
        padding-bottom: 0px;
    }
    .teambuilding__feature {
        margin-bottom: 260px;
        flex-direction: column;
    }
    .teambuilding__feature-list {
        flex-direction: column;
        height: 100%;
    }
    img.teambuilding__feature-image {
        height: 260px;
        width: 100%;
        padding-top: 30px;
    }
    .teambuilding__feature-title {
        font-size: 18px;
    }
    .teambuilding__feature-desc {
        font-size: 16px;
    }
    .teambuilding__game {
        gap: 15px;
        &-image {
            width: calc(100%);
            height: 205px;
            object-fit: cover;
        }
    }
    .studentexperience__title {
        display: block;
        margin-top: 20px;
    }
    .visa__button {
        margin-top: 20px;
    }
    .visa__image,
    .visa__info {
        height: 100%;
    }
    .visa__item-desc {
        margin-top: 20px;
    }
    .visa__item {
        gap: 30px;
    }
}
