.tours {
    margin-top: 60px;
    position: relative;

    &__header {
        font-size: 40px;
        font-weight: 500;
        color: $black-color;
        text-align: center;
        margin-top: 20px;
        &::after {
            content: "";
            position: absolute;
            width: 140px;
            height: 1px;
            background-color: $green-primary;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__desc {
        font-size: 16px;
        color: $gray-color;
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
    }
}
