.card {
    &__wrapper {
        margin-top: 50px;
    }
    &__item {
        color: $black-color;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border-radius: 6px;
        // padding: 16px;
        transition: all 0.3s ease;
        // height: 380px;
        // width: 270px;
        margin-bottom: 40px;
        margin-right: 20px;
        background-color: #f6f8fb;
        // line-height: 24px;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
    }
    &__image {
        align-self: center !important;
        height: 220px;
        width: 100%;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
    }
    &__name {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        align-self: stretch;
        &:hover {
            color: $green-color;
        }
    }
    &__info {
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 20px;
        align-self: center !important;
    }
    &__location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        width: 100%;
        align-self: center !important;
    }
    &__bottom {
        border-top: 1.5px dotted $green-color;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 18px;
    }
    &__price,
    &__day,
    &__rating,
    &__more {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 15px;
    }
    &__rating,
    &__icon {
        color: $green-secondary;
    }
}

.card__item:hover .card__image {
}
// .card__item:hover .card__button {
//     visibility: visible;
//     opacity: 1;
// }

.swiper-btn {
    background-color: rgb(102, 84, 241);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    background: $white-color;
}
.swiper-btn::before,
.swiper-btn::after {
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .card {
        &__item {
            margin: 0;
            margin-bottom: 30px;
        }
    }
}
