.tours {
    margin-top: 60px;
    position: relative;
    &__header {
        font-size: 38px;
        // font-weight: 500;
        color: $black-color;
        text-align: center;
        margin-top: 20px;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     width: 140px;
        //     height: 1.5px;
        //     background-color: $green-color;
        //     bottom: -20px;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     border-radius: 4px;
        // }
    }
    &__desc {
        font-size: 16px;
        color: $green-color;
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
    }
}
.tour__trongnuoc {
    margin-top: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    p {
        line-height: 28px;
        font-weight: 300;
        font-size: 17px;
        span {
            font-weight: 500;
            font-size: 18px;
        }
    }
    .visa__line.tour__trongnuoc-title {
        font-size: 28px;
        font-weight: 500;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 30px;
        color: $green-primary;
    }
}
@media screen and (max-width: 767.98px) {
    .tours {
        &__header {
            font-size: 23px;
            margin-top: 20px;
        }
        &__desc {
            font-size: 14px;
            line-height: 22px;
        }
    }
    .tour__trongnuoc {
        margin-top: 90px;
    }
    .visa__line.tour__trongnuoc-title {
        font-size: 23px;
        font-weight: 500;
    }
}
