.tours {
    margin-top: 60px;
    position: relative;

    &__header {
        font-size: 38px;
        // font-weight: 500;
        color: $black-color;
        text-align: center;
        margin-top: 20px;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     width: 140px;
        //     height: 1.5px;
        //     background-color: $green-color;
        //     bottom: -20px;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     border-radius: 4px;
        // }
    }
    &__desc {
        font-size: 16px;
        color: $green-color;
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
    }
}
