$green-primary: #056432;
$green-secondary: #08763b;
$white-color: #ffffff;
$black-color: #222222;
$gray-color: #696969;
$green-color: #019878;
$yellow-color: #eaa800;
// $gray-scale1: #03221f;
// $gray-scale2: #03221f;
// $gray-scale3: #03221f;
// $gray-scale4: #869594;
// $gray-scale5: #869594;
// $gray-scale6: #869594;
$font-primary: "Be Vietnam Pro", sans-serif;
