.visa {
    padding-bottom: 50px;
    &__banner {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-top: 70px;
    }
    &__title {
        font-size: 28px;
        color: #222222;
        padding-top: 70px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        text-align: center;
        color: $green-primary;
        font-weight: 500;
    }
    &__desc {
        text-align: center;
        max-width: 1100px;
        font-weight: 300;
        display: block;
        margin: 0 auto;
        line-height: 26px;
        padding-bottom: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        &-title {
            line-height: 26px;
            font-size: 23px;
            color: $green-primary;
        }
        &-desc {
            text-align: left;
            font-weight: 300;
            line-height: 26px;
        }
    }
    &__image,
    &__info {
        width: 50%;
        height: 380px;
        object-fit: cover;
        padding: 15px 30px;
        gap: 20px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__button {
        cursor: pointer;
        background-color: $green-primary;
        padding: 13px 30px;
        color: $white-color;
        border: none;
        outline: none;
        font-family: $font-primary;
        font-size: 16px;
        border-radius: 30px;
        transition: all 0.3s ease;
        &:hover {
            background-color: $green-color;
        }
    }
    &__bold {
        font-weight: bold;
    }
    &__line {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100px;
            bottom: -5px;
            border-radius: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $green-primary;
        }
    }
    &__step {
        margin-bottom: 70px;
        text-align: center;
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;
            width: calc(100% / 4 - 30px);
            background-color: #fafafa;
            padding: 20px;
            border-radius: 8px;
            align-self: stretch;
        }
        &-image {
            width: 130px;
            height: 130px;
            object-fit: cover;
            border-radius: 100rem;
        }
        &-title {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            padding-top: 10px;
            color: $green-primary;
        }
        &-desc {
            font-weight: 300;
            line-height: 26px;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .visa__step-wrapper {
        flex-wrap: wrap;
    }
    .visa__step-item {
        width: 100%;
        padding-bottom: 0px;
    }
    .visa__item:nth-child(1) {
        flex-direction: column-reverse;
    }
    .visa__item:last-child {
        margin-top: 40px;
        flex-direction: column-reverse;
    }
}
